form-control {
  display: inline-block;
  width: 250px;
  margin-top: 50px;
}

h1 {
  color: #f1f1f1
}

h3 {
  color: rgba(201, 117, 8, 0.986);
  font-style: italic
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
  color: #f1f1f1;
  width: 97%;
  padding: 20px;
}